body {
  background-image: url("../img/fondohomesi");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}


.inicio {
  height: 100vh;
  width: 100wh;
  background-color: rgba(0, 0, 0, 0.5);
}

.barra {
  background-color: transparent !important;

}

a {
  color: white !important;
  padding-bottom:0;
}


.dropdown-item {

  color: black !important;
}


.carousel {
  width: 80vw;

}

.carusel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  width: 3rem;
}

.active{
  border-bottom: 1px solid white !important;
}

nav{
  border-bottom: 1px solid #242022 !important;
}

.item{
  padding-bottom: 0;
}