.contacto{
    height: 100vh;
    width: 100wh;
    background-color: rgba(0, 0, 0, 0.5);   
}

body  {
    background-image: url("../img/fondohomesi");
    background-color: black ;
    background-repeat: no-repeat;
    background-size: cover;
}

.barra{
    background-color: transparent !important;
    
  }
a{
    color: white !important;
 }
.form-contact{
    color: white;
    padding: 24px;
    padding-left:4rem; 
}
/*Logo del formulario*/
.icon{
    width:3rem;
}
.w-100{
    max-width: 80%;
}


form {
    width: 100% !important;
    max-width: 600px!important ;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }


input {
    width: 50% !important;
    height: 40px !important;
    margin: 0.5rem;
}

.boton {
    border: none;
    background-color: rgb(100, 200, 255);
    cursor: pointer;
    display:flex;
    justify-content:center;
    width: 16rem;
    padding: 0;
  }
  .form-label{

    color: white !important;

 }

 h3{
    
    color: black !important;
    text-align: center;
 }